AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
SHAREPOINT_SITE_ID=
SHAREPOINT_LIST_ID=
SHAREPOINT_LIBRARY_ID=Documentos_Radicacion
SECRET_KEY=CHANGE_ME_random_string_at_least_32_chars
M365_SENDER_EMAIL=interventoriaapalborada@intecoalsas.com
M365_NOTIFICATION_RECIPIENT=anyeli_cabezas@soy.sena.edu.co
POWER_AUTOMATE_WEBHOOK_URL=
FRONTEND_URL=https://tu-sitio.netlify.app
